

    tr:hover {
        td{
        background-color: #DAF7A6;color: black;}
        
        }
    #Luis{
    width: 80%;

    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 30px;
    resize: vertical;
    }
    th,td{ border-radius: 4px;}


